@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');

body {
    font-family: 'Baloo Tammudu', cursive;
    font-size: 8em;
    background: lightblue;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}